HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
TOM_TAT_CONG_NGHE.md
RESTFUL_API_DESIGN.md
PHU_LUC_CODE.md
GIAI_THICH_CONG_NGHE.md
CAU_HOI_THUYET_TRINH.md
DU_LIEU_TEST.txt
API_DOCUMENTATION.md
